In [3]:
import pandas as pd
data = pd.read_csv('BostonHousing.csv')
data.head(5)

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [4]:
#lstat means "lower status of the population" and medv means "Median value of owner-occupied homes in $1000's"
data1 = data.loc[:,['lstat','medv']]
data1.head()

   lstat  medv
0   4.98  24.0
1   9.14  21.6
2   4.03  34.7
3   2.94  33.4
4   5.33  36.2

In [5]:
#visualize the change in variables
import matplotlib.pyplot as plt
data.plot(x='lstat',y='medv',style='o')
plt.xlabel('lstat')
plt.ylabel('medv')
plt.show()

In [6]:
x = pd.DataFrame(data['lstat'])
y = pd.DataFrame(data['medv'])

In [7]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.2, random_state =1)

In [8]:
print(x_train.shape)#Matrix dimension

(404, 1)

In [9]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [10]:
print(regressor.intercept_)

[34.33497839]

In [11]:
print(regressor.coef_)

[[-0.92441715]]

In [12]:
y_pred = regressor.predict(x_test)
y_pred

array([[27.37411725],
       [27.69766325],
       [16.95593597],
       [26.84719947],
       [24.91516763],
       [24.05545968],
       [29.99021779],
       [22.28057875],
       [17.76942306],
       [26.1908633 ],
       [27.17998965],
       [30.07341533],
       [21.75366098],
       [24.86894677],
       [23.50080939],
       [23.12179836],
       [12.85152382],
       [30.05492699],
       [27.46655897],
       [ 7.03693995],
       [23.70418116],
       [18.94343284],
       [25.75638724],
       [28.67754543],
       [30.0179503 ],
       [11.7884441 ],
       [15.53233356],
       [24.6008658 ],
       [27.62370988],
       [15.06088081],
       [29.25992824],
       [17.2702378 ],
       [31.672657  ],
       [19.13756044],
       [25.9320265 ],
       [21.77214932],
       [17.88959729],
       [29.40783498],
       [12.75908211],
       [20.48720948],
       [27.54975651],
       [28.09516263],
       [27.30940805],
       [12.05652507],
       [17.66773717],
       [13.3137324 ],
       [32.56009746],
       [19.22075799],
       [25.26644615],
       [24.50842409],
       [23.55627442],
       [23.96301797],
       [29.51876504],
       [24.07394802],
       [ 6.89827738],
       [28.11365097],
       [ 6.6301964 ],
       [28.80696383],
       [20.7737788 ],
       [30.68353065],
       [20.4502328 ],
       [28.2985344 ],
       [15.92058876],
       [18.02825986],
       [ 7.01845161],
       [29.67591595],
       [32.05166803],
       [26.33877004],
       [24.72104003],
       [23.57476276],
       [28.64981292],
       [ 8.19246139],
       [21.39313829],
       [23.26046093],
       [21.30994075],
       [24.70255169],
       [31.59870363],
       [26.72702525],
       [27.50353565],
       [31.04405334],
       [20.10819845],
       [24.81348174],
       [29.35236995],
       [12.82379131],
       [28.80696383],
       [29.74062515],
       [16.48448322],
       [29.63893927],
       [21.30069657],
       [18.65686353],
       [29.12126566],
       [29.60196258],
       [17.63076049],
       [22.84447322],
       [20.91244137],
       [22.06796281],
       [25.39586455],
       [26.79173445],
       [30.50789139],
       [22.31755544],
       [19.83087331],
       [16.90971511]])

In [13]:
y_test

     medv
307  28.2
343  23.9
47   16.6
67   22.0
362  20.8
132  23.0
292  27.9
31   14.5
218  21.5
90   22.6
481  23.7
344  31.2
119  19.3
66   19.4
312  19.4
407  27.9
376  13.9
225  50.0
201  24.1
147  14.6
315  16.2
146  15.6
314  23.8
324  25.0
65   23.5
425   8.3
34   13.5
345  17.5
261  43.1
389  11.5
..    ...
366  21.9
29   21.0
107  20.4
483  21.8
370  50.0
285  22.0
159  23.3
291  37.3
128  18.0
117  19.2
189  34.9
435  13.4
350  22.9
298  22.5
449  13.0
325  24.6
497  18.3
135  18.1
503  23.9
257  50.0
491  13.6
6    22.9
427  10.9
11   18.9
501  22.4
92   22.9
224  44.8
110  21.7
426  10.2
443  15.4

[102 rows x 1 columns]

In [15]:
from sklearn import metrics
import numpy as np
print('Mean Absolute Error:',metrics.mean_absolute_error(y_test,y_pred))
print('Mean Squared Error:',metrics.mean_squared_error(y_test,y_pred))
print('Root Mean Squared Error:',np.sqrt(metrics.mean_squared_error(y_test,y_pred)))

Mean Absolute Error: 5.078127727696938
Mean Squared Error: 46.99482091954711
Root Mean Squared Error: 6.855276866731723